.data {
    width: 75%; 
    margin: auto;
}

.heading {
    font-size: 4rem;
    width: inherit;
}

.tab {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.individualTab {
    display: flex; 
    padding: 50px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-size: 2rem;
    cursor: pointer;
}

.active {
    display: flex; 
    padding: 50px;
    padding-bottom: 10px;
    justify-content: center;
    align-items: center;
    margin: 1px;
    font-size: 2rem;
    cursor: pointer;
    border-bottom: 2px solid blue;
}

#content {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

#dashboard {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#visual {
    margin-bottom: 50px;
}

.info {
    margin: 30px;
}

#graphics {
    display: flex;
    justify-content: center;
    align-items: center;
}