.section {
    width: 100%;
    display: block;
    text-align: center;
}

#form {
    background-color: white;
    border-radius: 10px;
    display: inline-flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: flex-end;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 20px;
}

.text {
    margin: 10px;
}

#dropdown {
    width: 11.5rem;
}

#submitButton {
    width: 100%;
    display: flex;
    justify-content: center;
}

#form {
    margin-top: 25px;
}

.inputLabel {
    width: 100%;
    text-align: left;
}

.formInput {
    width: 100%;
}

#captcha {
    margin-top: 20px;
    margin-bottom: 20px;
}